---
---

@import 'bootstrap/scss/bootstrap';

$font-family-sans-serif: 'Roboto Mono', monospace, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-base: 'Roboto Mono', monospace;

$indigo: papayawhip;

.svg-drips {
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: -10;
}

.drip {fill: url(#TheGradient);}

.content-box {
	background-color:  rgba(248, 239, 222, 0.90);
	padding: 1rem 2rem;
	margin: 1rem auto;
	box-shadow: .25rem .25rem 0rem  rgba(0, 0, 0, 0.5);
	z-index: 1;
	font-family: $font-family-base;
}

.welcome-text {
	position: absolute;
	top: 3rem;
	left: 3rem;
	vertical-align: right;
}

/* Sticky footer styles for bootstrap */
html {
    position: relative;
    min-height: 100%;
}

body {
	margin-bottom: 45px; /* Margin bottom by footer height */
	background-image: linear-gradient(#FF91AF, aliceblue);
}
.footer {
    position: absolute;
    padding-top: map-get($spacers, 3);
    bottom: 0;
    width: 100%;
    height: map-get($spacers, 5); /* Set the fixed height of the footer here */
    line-height: map-get($spacers, 3); /* Vertically center the text there */
}