---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.drip {fill: url(#TheGradient);}
.drip {fill: red}

.svg-drips {
	width: 100%;
	padding: 0px;
	margin: 0px;
}


.drip {fill: url(#TheGradient);}

.welcome-text {
	z-index: 10;
	position: absolute;
	top: 3rem;
	left: 3rem;
	vertical-align: right;
	background-color:  rgba(248, 239, 222, 0.74);
	padding: 1rem 2rem;
    box-shadow: .25rem .25rem 0rem  rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Mono', monospace;
	text-shadow: none;
	color: #333;
}